.header-button-custom{
    // margin: 5px 40px 10px;
    padding: 5px 40px;
}

.header-a{
    margin: 5px 40px 10px;
}

.margin {
    margin-top: 50px;
}

.pointer{
    cursor: pointer;
}

.list-item:hover{
    background: rgba(0,0,0,0.05);
}
