<md-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></md-progress-bar>
<div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
    <div flex-gt-xs="90">
      <md-card >
        <md-card-title layout>
          <md-input-container class="text-sm" flex>
            <input md-input placeholder="Buscar salas" [(ngModel)]="buscarInput"/>
            <span md-prefix><md-icon>search</md-icon></span>
          </md-input-container>
          <a [routerLink]="['/salas/add']" class="header-a">
            <button md-raised-button color="accent" class=" header-button-custom">Nueva Sala</button>
          </a>
        </md-card-title>
        <md-list class="pull-top">
          <md-list-item>
            <md-icon md-list-avatar>apps</md-icon>
            <h3 md-line>Salas</h3>
            <span flex></span>
            <span flex="40" class="pad-left md-body-1 tc-grey-500">Tipo</span>
            <span flex="40" class="md-body-1 tc-grey-500">Ubicacion</span>
            <span flex="20" class="md-body-1 tc-grey-500"></span>
            <span flex="20" class="md-body-1 tc-grey-500"></span>
          </md-list-item>
          <template let-item="$implicit" let-i="index" let-last="last" ngFor [ngForOf]="salas | filterSalaByName:buscarInput">
            <a md-list-item class="list-item" ><!--class="pointer"  (click)="openDialog(item);"-->
              <md-icon md-list-avatar>dns</md-icon>
              <h3 md-line> {{item.nombre}}  </h3>
              <!--<p md-line> Ubicacion: description </p>-->
              <span flex></span>
              <span flex="40" class="md-body-1 tc-grey-500">{{item.tipoSala.descripcion}}</span>
              <span flex="40" class="md-body-1 tc-grey-500">{{item.ubicacion}}</span>
              <span flex="20" class="md-body-1 tc-grey-500">
                <button md-raised-button  color="default" (click)="editSala(item);">
                  <md-icon class="tc-blue-600">edit</md-icon>
                </button>
              </span>
              <span flex="20" class="md-body-1 tc-grey-500">
                <button md-raised-button class="tc-blue-100" color="warn" (click)="deleteSala(item);">
                  <md-icon class="tc-white"  >delete</md-icon>
                </button>
              </span>
            </a>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </md-list>
      </md-card>
    </div>
</div>
